{% extends 'layouts/layout.twig' %}

{% block content %}
    <section class="mt-6pc">
        <div class="row justify-center">
            <div class="card border-radius-md shadow-sm mb-md text-center">
                <h1 class="bb-1 pb-sm">{{ title }}</h1>

                {{ content|raw }}
            </div>
        </div>
    </section>
{% endblock %}
