{% extends 'layouts/layout.twig' %}

{% block content %}
    <section class="http-error">
        <h1>HTTP 405 - Method not allowed</h1>
        <p>The method "{{ method }}" is not allowed for this route.</p>
    </section>
{% endblock %}
