{% extends 'layouts/layout.twig' %}

{% block content %}
    <section class="http-error">
        <h1>HTTP 500 - Server Error</h1>

        <p>
            Something unexpected happened, please try again.<br>
            Please contact the webmaster in case the error persists.
        </p>
        {{ details|raw }}
    </section>
{% endblock %}
