{% extends 'layout.twig' %}

{% block content %}
    <section class="http-error">
        <div class="http-error-text">
            <h1>{{ title }}</h1>

            <p>{{ message|raw }}</p>
        </div>
    </section>
{% endblock %}
