COMPOSE_PROJECT_NAME=beacon

################################################################################
# A P P   S E T T I N G S
################################################################################
APP_ENV=local
APP_DEBUG=false
APP_NAME=Beacon
APP_SLOGAN="The Foundation for Modern PHP Applications"
APP_VERSION=1.0.0
APP_COPYRIGHT="Copyright © 2026 <a href=\"https://shworx.com\" target=\"_blank\">SHworX</a>. All rights reserved."
APP_URL=https://beacon.local
APP_TIMEZONE=Asia/Kuala_Lumpur
APP_SECRET=
# Debug levels: debug, info, notice, warning, error, critical, alert, emergency
APP_LOG_LEVEL=debug
# Expiry for verification emails (Examples: 24h = 24 hours, 24d = 24 days)
# Email verification token expiry default = 48h
APP_EMAIL_VERIFICATION_TOKEN_EXPIRY=48h
# Password reset token expiry default = 2h
APP_PASSWORD_RESET_TOKEN_EXPIRY=2h

################################################################################
# A P P   C O O K I E   S E T T I N G S
################################################################################
APP_COOKIE_DOMAIN=.beacon.local
# SECURE: true = HTTPS protocol only, false = HTTP + HTTPS protocol
APP_COOKIE_SECURE=true
# SAMESITE: Strict, Lax, None
APP_COOKIE_SAMESITE=Lax
# REMEMBER ME COOKIE LIFETIME: In days
APP_COOKIE_LIFETIME_REMEMBER_ME=30

################################################################################
# T E M P L A T E   E N G I N E   S E T T I N G S
################################################################################
TWIG_CACHE=false
TWIG_DEBUG=false

################################################################################
# D A T A B A S E   S E T T I N G S
################################################################################
DB_DRIVER=mariadb
DB_HOST=
DB_PORT=3306
DB_DATABASE=beacon
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_520_ci
DB_PREFIX=

################################################################################
# M A I L E R   S E T T I N G S
################################################################################
# SMTP DEBUG LEVEL (refer to https://phpmailer.github.io/PHPMailer/classes/PHPMailer-PHPMailer-SMTP.html)
# 0 = off, 1 = client, 2 = server, 3 = connection, 4 = low-level
MAIL_SMTP_DEBUG_LEVEL=0
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_AUTH=false
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS="noreply@beacon.local"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_TO_ADDRESS="recipient@beacon.local"
MAIL_TO_NAME=
