{% extends 'layouts/layout.twig' %}

{% block content %}
    <section class="hero">
        <div class="hero-text">
            <h1>Dashboard</h1>

            <p>
                This is the dashboard.
            </p>
        </div>

    </section>
{% endblock %}
